/* App.css */

.App {
  background-image: url('/public/images/bg.jpg');
  background-size: cover;
  background-position: center; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
  color: white; 
}

.scoreboard {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
